/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Tilt Neon', cursive;
font-family: 'Tilt Warp', cursive; */
.head{
    font-family: 'Tilt Warp', cursive;
    font-size: 33px;
}